<a href="https://colab.research.google.com/github/haeeeeuni/baekjoon_practice/blob/baekjoon_level/Baekjoon_level3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 백준 단계별로 풀어보기

**3단계 반복문**

In [ ]:
#2739

a = int(input())

for i in range(1,10):
  print("{0} * {1} = {2}".format(a,i, a*i))

3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

In [ ]:
#10950

k = int(input())    # # of test case

sum = []   #init list a

for i in range(0,k) :
  x, y = map(int, input().split())
  sum.append(x + y)

for j in range(len(sum)) :
  print(sum[j])

5
1 1
2 3
3 4
9 8
5 2
2
5
7
17
7

In [ ]:
#8393

x = int(input())
sum = 0

for i in range(1, x+1) :
  sum += i

print(sum)

3
6

In [ ]:
#25304

amount = int(input())     #get total price of receipt
n = int(input())
sum = 0               #calculate price of receipt

for i in range(0,n) :
  x, y = map(int, input().split())
  sum += x * y

if sum == amount :
  print("Yes")
else :
  print("No")

220000
3
20000 5
30000 2
10000 6
Yes

In [ ]:
#25314

n = int(input())
k = n // 4

for i in range(k) :
  print("long ", end ="")

print("int")

20
long long long long long int

In [ ]:
#15552

import sys

inp = int(input())

for i in range(inp):
        a,b = map(int, sys.stdin.readline().split())
        print(a+b)

In [ ]:
#11021

k = int(input())    # # of test case

sum = []   #init list a

for i in range(0,k) :
  x, y = map(int, input().split())
  sum.append(x + y)

for j in range(len(sum)) :
  print("Case #{0}: {1}".format(j+1,sum[j]))

5
1 1
2 3
3 4
9 8
5 2
Case #0: 2
Case #1: 5
Case #2: 7
Case #3: 17
Case #4: 7

In [ ]:
#11022

k = int(input())    # # of test case

sum = []
x = []
y = []

for i in range(0,k) :
  a, b = map(int, input().split())
  sum.append(a+b)
  x.append(a)
  y.append(b)

for j in range(len(sum)) :
  print("Case #{0}: {1} + {2} = {3}".format(j+1,x[j],y[j],sum[j]))

5
1 1
2 3
3 4
9 8
5 2
Case #1: 1 + 1 = 2
Case #2: 2 + 3 = 5
Case #3: 3 + 4 = 7
Case #4: 9 + 8 = 17
Case #5: 5 + 2 = 7

In [3]:
#2438

n = int(input())

for i in range(n) :
  star = i+1
  print('*'* star)

5
*
**
***
****
*****

In [6]:
#2439

k = int(input())

for i in range(k) :
  star = '*' * (i + 1)
  space = ' ' * (k - i -1)
  print(space+star)

5
    *
   **
  ***
 ****
*****

In [13]:
#10952

a,b = map(int, input().split())

s = a + b
sum = []
i = 0

while s != 0 :
  sum.append(s)
  i += 1
  a,b = map(int, input().split())
  s = a + b

for i in range(len(sum)):
  print(sum[i])

1 1
2 3
0 0
2
5

In [16]:
#10951

sum = []

while True:
  try:
    a,b = map(int, input().split())
    sum.append(a+b)
  except:
    break

for i in range(len(sum)):
  print(sum[i])

1 1
2 3
3 4
4
2
5
7