<a href="https://colab.research.google.com/github/haeeeeuni/baekjoon_practice/blob/baekjoon_level/Baekjoon_level4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
#10807

n = int(input())

numbers = list(map(int, input().split()))

f = int(input())

count = 0

for i in range(len(numbers)):
  if f == numbers[i] :
    count += 1

print(count)

11
1 4 1 2 4 2 4 2 3 4 4
2
3

In [8]:
#10871

n, x = map(int, input().split())

numbers = list(map(int, input().split()))

for i in range(len(numbers)):
  if numbers[i]<x :
    print(numbers[i], end = ' ')

10 5
1 10 4 9 2 3 8 5 7 6
1 4 2 3

In [11]:
#10818

n = int(input())

numbers = list(map(int, input().split()))

min = max = numbers[0]

for i in range(n-1) :
  k = numbers[i+1]
  if k > max :
    max = k
  elif k < min :
    min = k

print(min, max)

5
20 10 35 30 7
7 35

In [18]:
#2562

numbers = []

for i in range(9):
  numbers.append(int(input()))

max = 0
index = 0

for i in range(9):
  k = numbers[i]
  if k > max :
    max = k
    index = i

print(max)
print(index+1)

3
29
38
12
57
74
40
85
61
85
9

In [39]:
#10810

n, m = map(int, input().split())

basket = [0 for i in range(n)]

for i in range(m):
  a,b,c = map(int, input().split())
  for j in range(a, b+1):
    basket[j-1] = c

for i in range(len(basket)):
  print(basket[i], end =  ' ')

5 4
1 2 3
3 4 4
1 4 1
2 2 2
1 2 1 1 0

In [45]:
#10813

n, m = map(int, input().split())

basket = [i+1 for i in range(n)]

tmp = 0
for i in range(m):
  a,b = map(int, input().split())
  a = a-1
  b = b-1

  tmp = basket[b]
  basket[b] = basket[a]
  basket[a] = tmp

for i in range(len(basket)):
  print(basket[i], end =  ' ')

5 4
1 2
3 4
1 4
2 2
3 1 4 2 5

In [47]:
#5597

num = [0 for i in range(30)]

for i in range(28):
  k = int(input())
  num[k-1] = 1

for i in range(len(num)):
  if num[i] == 0 :
    print(i+1)

3
1
4
5
7
9
6
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
2
8

In [51]:
#3052

remain = []

for i in range(10):
  k = int(input())
  remain.append(k%42)

s = set(remain)
print(len(s))

1
2
3
4
5
6
7
8
9
10
10

In [64]:
#10811

n, m = map(int, input().split())

basket = [i+1 for i in range(n)]
tmp = 0

for i in range(m):
  a,b = map(int, input().split())
  tmp = basket[a-1:b]
  tmp.reverse()       #reverse(): 배열을 역순으로 reverse 해주는 함수
  basket[a-1:b] = tmp

for i in range(len(basket)):
  print(basket[i], end =  ' ')

5 4
1 2
3 4
1 4
2 2
3 4 1 2 5

In [77]:
#1546

n = int(input())

score = list(map(int, input().split()))

max_score = max(score)

for i in range(len(score)):
  score[i] = score[i]/max_score * 100

avg = sum(score)/len(score)

print(avg)

3
40 80 60
75.0